<h1><%= @category.title %></h1>
<h2><a href=""
<ul>
  <% @category.posts.each do |post| %>
  <li><a href='/post/<%= post.id %>'><%= post.title %></a></li>
  <% end %>
</ul>
<form action="/category/delete/<%=@category.id%>" method="POST">
  <label>DESTROY Category? <input type="submit" value="DELETE"> </label>
</form>
