<h1>Create Post</h1>
<form action="/post/<%=@category_id%>/new" method="POST">
  <label>Title: <input class='text' type="text" name="post[title]"></label>
  <label>Price: <input class='text' type="float" name="post[price]"></label>
  <br>
  <br>
  <label>Text: <textarea class='text' rows='10' cols='40' name='post[body]' wrap='virtual'></textarea></label>
  <input class='btn' type="submit">
</form>
