<h2>Categories</h2>
<ul>
  <% @categories.each do |category| %>
  <li><a href='/<%= category.id %>/posts'><%= category.title %></a></li>
  <% end %>
</ul>

<form action="/category/create" method="POST">
  <label>New Category: <input class='text' type="text" name="category[title]" placeholder="New Category Name"></label>
  <input class='btn' type="submit" value="create">
</form>



