<h1>Welcome to Craigslist Jr!</h1>
<h2>Categories</h2>
<ul>
  <% @categories.each do |category| %>
  <li><a href='/<%= category.title %>/posts'><%= category.title %></a></li>
  <% end %>
</ul>

<form action="/category/create" method="POST">
  <label>New Category: <input type="text" name="category[title]" placeholder="New Category Name"></label>
  <input type="submit" value="create">
</form>



